body {
    margin:0;
    padding:0;
    background:#000;
}
p{
    font-size : 10px;
    line-height : 8px;
    text-align : justify;
    -webkit-background-size : cover;
    background-size : cover;
    background-repeat : no-repeat;
    background-position : center;
    background : url(bg.png) no-repeat center/cover;
    background-attachment : fixed;
    -webkit-text-fill-color : rgba(0, 0, 0, 0);
    -webkit-background-clip : text;
    
    
}